@model ObajuShopping.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12">

        <div id="main-slider" class="owl-carousel owl-theme">
            @foreach (var photos in Model.Sliders)
            {
            <div class="item">
                <img src="@Url.Content("~/Content/img/slider/")@photos.name" alt="" class="img-responsive">
            </div>
            }
        </div>

    </div>
</div>


<div id="advantages">

    <div class="container">
        <div class="same-height-row">
            <div class="col-sm-4">
                <div class="box same-height clickable">
                    <div class="icon">
                        <i class="fa fa-heart"></i>
                    </div>

                    <h3><a href="#">We love our customers</a></h3>
                    <p>We are known to provide best possible service ever</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="box same-height clickable">
                    <div class="icon">
                        <i class="fa fa-tags"></i>
                    </div>

                    <h3><a href="#">Best prices</a></h3>
                    <p>You can check that the height of the boxes adjust when longer text like this one is used in one of them.</p>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="box same-height clickable">
                    <div class="icon">
                        <i class="fa fa-thumbs-up"></i>
                    </div>

                    <h3><a href="#">100% satisfaction guaranteed</a></h3>
                    <p>Free returns on everything for 3 months.</p>
                </div>
            </div>
        </div>

    </div>

</div>


<div id="hot">

    <div class="box">
        <div class="container">
            <div class="col-md-12">
                <h2>Latest Products</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="product-slider">

            @foreach (var product in Model.LatestProducts)
            {
            <div class="item">
                <div class="product">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <a href="@Url.Action("Detail", "Product",new { id = product.id})">
                                    <img src="@Url.Content("~/Content/img/")@product.photo" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="back">
                                <a href="@Url.Action("Detail", "Product",new { id = product.id})">
                                    <img src="@Url.Content("~/Content/img/")@product.photo" alt="" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Detail", "Product",new { id = product.id})" class="invisible">
                        <img src="@Url.Content("~/Content/img/")product1.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="text">
                        <h3>
                            <a href="@Url.Action("Detail", "Product",new { id = product.id})">@product.name</a>
                        </h3>
                        <p class="text-center buttons"><a href="@Url.Action("AddToCart","Cart",new {id= product.id,quantity = 1})" class="btn btn-primary">Add to Cart</a></p>
                        <p class="price">@product.price</p>
                    </div>

                </div>

            </div>
            }

        </div>

    </div>

    <div class="box">
        <div class="container">
            <div class="col-md-12">
                <h2>Featured Products</h2>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="product-slider">

            @foreach (var product in Model.FeaturedProducts)
            {
            <div class="item">
                <div class="product">
                    <div class="flip-container">
                        <div class="flipper">
                            <div class="front">
                                <a href="@Url.Action("Detail", "Product",new { id = product.id})">
                                    <img src="@Url.Content("~/Content/img/")@product.photo" alt="" class="img-responsive">
                                </a>
                            </div>
                            <div class="back">
                                <a href="@Url.Action("Detail", "Product",new { id = product.id})">
                                    <img src="@Url.Content("~/Content/img/")@product.photo" alt="" class="img-responsive">
                                </a>
                            </div>
                        </div>
                    </div>
                    <a href="@Url.Action("Detail", "Product",new { id = product.id}))" class="invisible">
                        <img src="@Url.Content("~/Content/img/")product1.jpg" alt="" class="img-responsive">
                    </a>
                    <div class="text">
                        <h3>
                            <a href="@Url.Action("Detail", "Product",new { id = product.id})">@product.name</a>
                        </h3>
                        <p class="text-center buttons"><a href="@Url.Action("AddToCart","Cart",new {id= product.id,quantity = 1})" class="btn btn-primary">Add to Cart</a></p>
                        <p class="price">@product.price</p>
                    </div>

                </div>

            </div>
            }

        </div>

    </div>
</div>


<div class="container" data-animate="fadeInUpBig">
    <div class="col-md-12">
        <div class="box slideshow">
            <h3>Get Inspired</h3>
            <p class="lead">Get the inspiration from our world class designers</p>
            <div id="get-inspired" class="owl-carousel owl-theme">
                <div class="item">
                    <a href="#">
                        <img src="@Url.Content("~/Content/img/")getinspired1.jpg" alt="Get inspired" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="@Url.Content("~/Content/img/")getinspired2.jpg" alt="Get inspired" class="img-responsive">
                    </a>
                </div>
                <div class="item">
                    <a href="#">
                        <img src="@Url.Content("~/Content/img/")getinspired3.jpg" alt="Get inspired" class="img-responsive">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="box text-center" data-animate="fadeInUp">
    <div class="container">
        <div class="col-md-12">
            <h3 class="text-uppercase">From our blog</h3>

            <p class="lead">
                What's new in the world of fashion? <a href="@Url.Action("Index","Blog")">Check our blog!</a>
            </p>
        </div>
    </div>
</div>

<div class="container">

    <div class="col-md-12" data-animate="fadeInUp">

        <div id="blog-homepage" class="row">
            @foreach (var post in Model.Posts)
            {
            <div class="col-sm-6">
                <div class="post">
                    <h4><a href="@Url.Action("Post", "Blog",new {id = post.id})">@post.baslik</a></h4>
                    <p class="author-category">
                        By <a href="#">@post.yazar</a> in <a href="">Fashion and style</a>
                    </p>
                    <hr>
                    <p class="intro">
                        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean
                        ultricies mi vitae est. Mauris placerat eleifend leo.
                    </p>
                    <p class="read-more">
                        <a href="@Url.Action("Post", "Blog", new {id = post.id})" class="btn btn-primary">Continue reading</a>
                    </p>
                </div>
            </div>
            }

        </div>
    </div>
</div>