@using ObajuShopping.Models
@{
    ViewBag.Title = "Post";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="col-sm-12">

        <ul class="breadcrumb">

            <li>
                <a href="@Url.Action("Index","Blog")">Blog</a>
            </li>
            <li>
                @Model.post.baslik
            </li>
        </ul>
    </div>

    <div class="col-sm-9" id="blog-post">


        <div class="box">

            <h1>@Model.post.baslik</h1>
            <p class="author-date">By <a href="#">@Model.post.yazar</a> | @Model.post.tarih</p>
            <p class="lead">This is the lead paragraph of the article. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget.</p>


            <div class="post-content">
                @Model.post.icerik
            </div>


        </div>
        <!-- /#post-content -->

        <div id="disqus_thread"></div>
        <script>

            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://obajushopping.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

        @*<div class="fb-comments" data-href="https://developers.facebook.com/docs/plugins/comments#configurator" data-numposts="5"></div>*@

    </div>

    <div class="col-md-3">

        <div class="panel panel-default sidebar-menu">

            <div class="panel-heading">
                <h3 class="panel-title">Blog</h3>
            </div>

            <div class="panel-body">

                <ul class="nav nav-pills nav-stacked">
                    @foreach (var post in @Model.LatestPosts)
                    {
                        <li>
                            <a href="@Url.Action("Post","Blog",new {id=post.id})">@post.baslik</a>
                        </li>
                    }
                </ul>
            </div>

        </div>
        <!-- /.col-md-3 -->
        <!-- *** BLOG MENU END *** -->

        <div class="banner">
            <a href="#">
                <img src="@Url.Content("~/Content/img/")banner.jpg" alt="sales 2014" class="img-responsive">
            </a>
        </div>
    </div>
    <!-- /.box -->
</div>
<!-- /#blog-post -->
<!-- /.container -->